html {
	height: 100%;
}

body {
	font-family: arial narrow;
	text-align: center;
	word-spacing: 1px;
	margin: 0px;
}

#container {
	width: 1024px;
}

h1 {
	color: white;
	font-family: sf-light;
	font-size: 17px;
	text-align: center;
	word-spacing: 1px;
	vertical-align: center;
	
}

h2 {
	font-family: arial narrow;
	text-align: center;
	word-spacing: 1px;
	color: #444;
}

h4 {
	color: #5c67a0;
	background-color: white;
	font-size: 16pt;
	font-weight: 100;
}

h5 {
	color: #5c67a0;
	font-size: 14pt;
	font-weight: 100;
	text-align: right;
}

h6 {
	color: #7582b1;
	font-size: 12pt;
	font-weight: 100;
}

p {
	font-family: arial narrow;
	text-align: center;
	word-spacing: 1px;
	color: black;
	font-size: 12px;
}

#footer {
	position: relative;
	left: 0;
	bottom: 0;
	height: 100px;
	text-align: center;
	width: 1024px;
}

#footernav {
	position: relative;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 1024px;
	text-align: center;
	font-size: 11px;
}

/*---------- Wrap ----------*/

#wrap {
	width: 100%; /* Spans the width of the page */
	height: 44px; 
	margin: 0px auto 1em; /* Ensures there is no space between sides of the screen and the menu */
	margin-bottom: 0px;
	z-index: 9999; /* Makes sure that your menu remains on top of other page elements */
	position: absolute; 
	background-color: #444;
	text-align: center;
	min-width: 100%
}

/*---------- Custom Fonts ----------*/

@font-face {
	font-family: sf-light;
	src: url('fonts/sf/SF-UI-Display-Light.otf');
}



